/* Header Area Start */
.header{
  display: grid; 
  align-items: center;
  margin: 10px 20%; 
  grid-template-columns: 1fr 1fr 1fr
}
.header .admin{grid-column: 1/2; text-align: left;}
.header .admin a:hover{color: rgb(76, 76, 201);}
.header h2{font-size: 2.6rem; text-align: center; grid-column: 2/3;}
.header .sub_gnb{grid-column: 3/4; text-align: right;}
.header .sub_gnb p span{color: rgb(76, 76, 201);}
.gnb{
  background-color: rgba(0, 0, 0, 0.397);
  margin: 0 auto;
}
.gnb ul{
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  margin: 20px 20% 0;
  padding: 10px 0;
  color: #fff;
}
.gnb ul li a{color: #fff;}
/* main area start */
.main_wrap .banner{
  height: 500px;
  width: 100%;
}
.main_wrap .banner img{
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.products{width: auto; height: auto;}
.products .item_wrap{
  display: flex; 
  justify-content: space-between;
  margin: 50px 20%;
}
.products .item_wrap .item{
  width: 200px; height: 300px;
  border: 1px solid #000;
}
.products .item_wrap .img{
  height: 200px;
  background-color: black;
}
.products .item_wrap h3{
  margin: 10px;
}
.products .item_wrap p{
  margin: 10px;
}

/* 로그인 페이지 */
.login{
  text-align: center;
}
.login button{
  margin: 0 5px;
}